

<section class="hero">
	<h1 class="hero">Buy and Sell mobile phones and Tablets.<span class="emphasis"></span></h1>
	<p class="hero"><span class="emphasis">We're low-cost, secure, and easy to use.</span><br/><span class="different"> Every listing is verified for ownership and gentle usage (no cracks or water damage).</span></p>
	
	<div class="wrap">
		<div class="panel panel-default">
  			<div class="panel-body">
	
<%= form_for @evangelist, :class=>"form-horizontal",  :role => "form" do |f| %>
	<h3 class="center-block">I want to be a part of this.</h3>
	<div class="form-group">
	<div class="input-group input-group-lg">
	<%= f.text_field :fullname, :class=> "form-control", :placeholder=>"Full Name" %>
	
	<%= f.text_field :email, :class=> "form-control", :placeholder=>"Email address" %>

</div>  
</div>

<div class="form-group">
<%= f.submit "Go", :disable_with => 'Going...', :class =>"btn btn-success btn-lg btn-block" %>
<% end %>
</div>
</div>
</div>
</section>