<!DOCTYPE html>
<html>
<head>
  <title>Landingpage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>


<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6010229025202';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6010229025202&amp;value=0&amp;currency=USD" /></noscript>

</head>
<body>
		<header>
			<h1 class="main-heading">Phone<strong>lah</strong>
		</header>
<div class="container">
<%= yield %>
</div>
<footer><p class="center-block">All rights reserved.</p></footer>
</body>
</html>
